<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Shop | Servicos</title>
</head>
<body>
    <h1>Pet Shop Cia do Animal</h1>
    <h4>Todos os Servicos</h4>

    <ul>
        {% for servico in servicos %}
           
        <li>
            <a href="/servicos/{{servico['url_link']}}/detalhes">{{servico['nome_servico']}}</a>
        </li>
           
        {% endfor %}
    </ul>

    <a href="/">Voltar</a>

    
</body>
</html>